h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: larger;
    color:#225A2F ;
}

a{
    background-color:#50C878;
    color: darkblue;
    padding: 4px 8px;
}

h3{
    color:#225A2F ;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
